body {
  font-family: "Poppins", sans-serif;
}

.text-active {
  color: #ffc265;
}

.text-green {
  color: #1da599;
}

.bg-green {
  background-color: #c1fffa;
}

.text-abu {
  color: #4a4a4a;
}

.bg-active {
  background-color: #ffc265;
}

.bg-active:hover {
  background-color: #f0a93f;
}

.text-active:hover {
  color: #df9d3b;
}
